
.iconButton {
  transition: all 0.2s !important;
}

.iconButton:hover {
  border-color: rgb(59, 59, 59) !important;
  box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.4);
}
.todo-card {
  transition: all 0.2s !important;
}
.todo-card:hover {
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.4);
}
